server/.gitignore
.idea/aws.xml
.idea/misc.xml
.idea/modules.xml
.idea/Movie_APP_Redis.iml
.idea/vcs.xml
.idea/workspace.xml
.idea/sonarlint/issuestore/index.pb
.idea/sonarlint/issuestore/8/e/8ec9a00bfd09b3190ac6b22251dbb1aa95a0579d
.idea/sonarlint/securityhotspotstore/index.pb
.idea/sonarlint/securityhotspotstore/8/e/8ec9a00bfd09b3190ac6b22251dbb1aa95a0579d
node_modules